#contact{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact iframe {
  width: 100%;
  height: 30em;
  border-radius: 0.7em;
}

.adresse{
  margin-left: 1em;
  width: 100%;
  text-align: center;@
}

footer {
  width: 100%;
  height: 3.3em;
  display: flex;
  margin-top: 1em;
}
.logoFooter{
  width: 50%;
}

.logoFooter img{
  height: 100%;
  padding-left: 2em;
}
.footerlogo:hover{
  opacity: 0.6;
}
.menuFooter {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-self: center;

}
.menuFooter li {
  display: inline-block;
  padding-right: 1em;
}
.menuFooter a:hover{
  color: white;
}


/* Sweep To Right */
.sweepright {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sweepright:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(184, 109, 86);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sweepright:hover, .sweepright:focus, .sweepright:active {
  color: white;
}
.sweepright:hover:before, .sweepright:focus:before, .sweepright:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
